* text=auto

*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cu text eol=lf
*.cuh text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.py text eol=lf
*.ipynb text eol=lf
*.md text eol=lf
*.txt text eol=lf

*.npy binary
*.npz binary
